/*General*/

:root {
    --white: #FFF;
    --primary: #2A6CEA;
    --extralight-gray: #F6F8FA;
    --light-gray: #ECEFF2;
    --black: #191C1F;
    --dark-gray: #5E646A;
    --size-desktop: 1920px;
    --size-tablet: 768px;
    --size-mobile-first: 375px;
    --size-mobile-second: 320px;
    --background-1920: url(../img/Lunch_atop_a_Skyscraper_Desktop.jpg);
    --background-768: url(../img/Lunch_atop_a_Skyscraper_Tablet.jpg);
    --background-375: url(../img/Lunch_atop_a_Skyscraper_Mobile_1.jpg);
    --background-320: url(../img/Lunch_atop_a_Skyscraper_Mobile_2.jpg);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
  
  
html {
    scroll-behavior: smooth; 
}
  
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 320px;
    min-height: 100vh;
    height: 4613px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    background-color: var(--light-gray, #ECEFF2);
}
    
ul {
    list-style-type: none;
}

.container {
    width: var(--size-desktop);
    margin: 0 auto;
}

.wrapper {
    background-color: var(--white, #FFF);
    height: 4613px;
    width: 1920px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}
  
/*Header*/

.header-container {
    position: relative;
    display: flex;
    width: 1920px;
    height: 80px;
    padding: 26px 355px 26px 352px;
    justify-content: center;
    align-items: center;
    gap: 629px;
    left: 0px;
    top: 0px;
    z-index: 1;
}

  
.logo {
    width: 120px;
    height: 24px;
}

.nav-list {
    display: flex;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    width: 464px;
    height: 28px;
}
  
.nav-link {
    font-family: Graphik LCG;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    color: var(--white, #FFF);
    text-decoration: none;
    padding: 0px;
    margin: 0px;
}

.nav-link:hover {
    cursor: pointer;
    text-decoration-line: underline;
}


/*Main*/

.main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: -80px;
    width: 1920px;
    height: 960px;
    left: 0px;
    top: 0px;
    margin-left: auto;
    margin-right: auto;
    background: var(--background-1920);
    background-size: cover;
    background-repeat: no-repeat;
}

.main-container::before{
    position: relative;
    content: '';
    width: 1920px;
    height: 960px;
    z-index: 0;
    opacity: 0.800000011920929;
    background: var(--primary, #2A6CEA);
}

.content {
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 748px;
    height: 334px;
    top: 313px;
    bottom: 313px;
    left: 586px;
    right: 586px;
    margin-top: -52%;
}

.text-block {
    width: 748px;
    height: 178px;
    margin-bottom: 119px;
}

.content-title {
    color: var(--white, #FFF);
    text-align: center;
    font-family: Graphik LCG;
    font-size: 52px;
    font-style: normal;
    font-weight: 600;
    line-height: 64px;
    margin-bottom: 18px;
}

.content-text {
    color: var(--white, #FFF);
    text-align: center;
    font-family: Graphik LCG;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}

.content-btn {
    position: relative;
    display: inline-flex;
    padding: 20px 40px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    border-color: inherit;
    background: var(--light-gray, #ECEFF2);
    box-sizing: border-box;
    border: none;
    cursor: pointer; 
}

h5 {
    color: var(--black, #191C1F);
    text-align: center;
    font-family: Graphik LCG;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
}

.preview-section {
    width: 1216px;
    height: 281px;
    position: relative;
    display: block;
    flex-wrap: wrap;
    justify-content: center;
    left: 352px;
    right: 352px;
    margin-top: 80px;
}

.items {
    display: flex;
    box-sizing: border-box;
}

.item {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    width: 280px;
    height: 164px;
    margin-right: 32px;
}

.item:last-child {
    margin-right: 32px;
}

.main-text {
    margin-bottom: 5px;
}

.text-item {
    color: var(--dark-gray, #5E646A);
    font-family: Graphik LCG;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;;
}

.section-title {
    color: var(--black, #191C1F);
    text-align: center;
    font-family: Graphik LCG;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
}

.preview-title {
    margin-bottom: 61px;
}

h6 {
    color: var(--black, #191C1F);
    font-family: Graphik LCG;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
}

.img-item{
    margin-bottom: 16px;
}

.third-section {
    width: 1216px;
    height: 448px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    left: 352px;
    right: 352px;
    margin-top: 120px;
    align-items: center; 
    justify-content: center;
}

.text-wrapper {
    width: 50%;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 18px;
    margin-left: 0;
    padding: 0;
    margin-right: 32px;
    
}

.img-wrapper {
    width: 50%;
    position: relative;
}

.men-img {
    position: absolute;
    width: 592px;
    height: 448px;
    top: 0;
    left: 0;
}

.truck-img {
    width: 592px;
    height: 448px;
    top: 0;
    left: 0;
}

.third-title {
    color: var(--black, #191C1F);
    font-family: Graphik LCG;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px;
}

.third-text {
    color: var(--dark-gray, #5E646A);
    font-family: Graphik LCG;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}

.questions-section {
    width: 1920px;
    height: 564px;
    margin-top: 80px;
    background-color: var(--extralight-gray, #F6F8FA);;
}

.questions-items {
    display: flex;
    position: relative;
    align-items: center;
    width: 1238px;
    height: 462px;
    bottom: 45px;
    left: 341px;
    right: 341px;
    gap: 32px;
}

.questions-title {
    margin-top: 57px;
    /* margin-bottom: 32px; */
}


.img-vector {
    width: 32px;
    height: 32px;
    cursor: pointer;
}

.questions-item-one {
    display: flex;
    width: 341px;
    height: 316px;
    padding: 22px 22px 62px 22px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 8px;
    background: var(--white, #FFF);
    box-shadow: 0px 5px 24px 0px rgba(0, 0, 0, 0.10);
    cursor: pointer;
}

.questions-item-two {
    display: flex;
    width: 341px;
    height: 316px;
    padding: 22px 22px 38px 22px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 8px;
    background: var(--white, #FFF);
    box-shadow: 0px 15px 24px 0px rgba(0, 0, 0, 0.10);
}

.questions-item-three {
    display: flex;
    width: 341px;
    height: 316px;
    padding: 22px 22px 110px 22px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 8px;
    background: var(--white, #FFF);
    box-shadow: 0px 5px 24px 0px rgba(0, 0, 0, 0.10);
}

.card-one {
    display: flex;
    width: 297px;
    height: 232px;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    flex-shrink: 0;
}

.card-two {
    display: flex;
    width: 297px;
    height: 256px;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    flex-shrink: 0;
}

.card-three {
    display: flex;
    width: 297px;
    height: 184px;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    flex-shrink: 0;
}

.wrapper-text {
    display: flex;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
}

.city {
    align-self: stretch;
    color: var(--dark-gray, #5E646A);
    font-family: Graphik LCG;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    margin-top: 4px; 
}

.eclipse {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 15px;
    width: 108px;
    height: 8px;
    flex-shrink: 0;
    margin-top: -4%;
    margin-left: auto;
    margin-right: auto;
}

.eclipse span {
    width: 8px;
    height: 8px;
    background: #C2C8CD;
    border-radius: 10px;
  }
  
.dot.active {
    width: 8px;
    height: 8px;
    background: var(--primary, #2A6CEA);
    border-radius: 10px;
}

.issue-section {
    margin-left: auto;
    margin-right: auto;
}

.answer {
    width: 1008px;
    height: 792px;
    margin-top: 80px;
    flex-shrink: 0;
}

.line {
    width: 1008px;
    height: 1px;
    flex-shrink: 0;
    background: var(--extralight-gray, #F6F8FA);
}

.issue-title {
    margin-bottom: 41px;
}

.issue-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1008px;
    height: 32px;
    flex-shrink: 0;
    margin-top: 24px;
    margin-bottom: 24px;
    cursor: pointer;
}

.issue-text {
    width: 936px;
    color: var(--black, #191C1F);
    font-family: Graphik LCG;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
}

.img-plus {
    margin-left: 48px;
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    stroke-width: 2px;
    stroke: var(--black, #191C1F);
}

.open-text {
    width: 936px;
    color: var(--dark-gray, #5E646A);
    font-family: Graphik LCG;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 24px;
}

.issue-box:hover p {
    color: var(--primary, #2A6CEA);
}

.issue-box:hover img { 
    filter: invert(33%) sepia(55%) saturate(3848%) hue-rotate(211deg) brightness(95%) contrast(92%);
}