/*General*/

:root {
    --white: #FFF;
    --primary: #2A6CEA;
    --extralight-gray: #F6F8FA;
    --light-gray: #ECEFF2;
    --black: #191C1F;
    --size-desktop: 1920px;
    --size-tablet: 768px;
    --size-mobile-first: 375px;
    --size-mobile-second: 320px;
    --background-1920: url(../img/Lunch_atop_a_Skyscraper_Desktop.jpg);
    --background-768: url(../img/Lunch_atop_a_Skyscraper_Tablet.jpg);
    --background-375: url(../img/Lunch_atop_a_Skyscraper_Mobile_1.jpg);
    --background-320: url(../img/Lunch_atop_a_Skyscraper_Mobile_2.jpg);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
  
  
html {
    scroll-behavior: smooth; 
}
  
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 320px;
    min-height: 100vh;
    height: 4613px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    /* background: lightgray; */
}
    
ul {
    list-style-type: none;
}

.container {
    width: var(--size-desktop);
    margin: 0 auto;
}

  
/*Header*/

.header-container {
    position: relative;
    display: flex;
    width: 1920px;
    height: 80px;
    padding: 26px 355px 26px 352px;
    justify-content: center;
    align-items: center;
    gap: 629px;
    left: 0px;
    top: 0px;
    z-index: 1;
}

  
.logo {
    width: 120px;
    height: 24px;
}

.nav-list {
    display: flex;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    width: 464px;
    height: 28px;
}
  
.nav-link {
    font-family: Graphik LCG;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    color: var(--white, #FFF);
    text-decoration: none;
    padding: 0px;
    margin: 0px;
}

.nav-link:hover {
    cursor: pointer;
    text-decoration-line: underline;
}


/*Main*/

.main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: -80px;
    width: 1920px;
    height: 960px;
    left: 0px;
    top: 0px;
    margin-left: auto;
    margin-right: auto;
    background: var(--background-1920);
    background-size: cover;
    background-repeat: no-repeat;
}

.main-container::before{
    position: relative;
    content: '';
    width: 1920px;
    height: 960px;
    z-index: 0;
    opacity: 0.800000011920929;
    background: var(--primary, #2A6CEA);
}

.content {
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 748px;
    height: 334px;
    top: 313px;
    bottom: 313px;
    left: 586px;
    right: 586px;
    margin-top: -52%;
}

.text-block {
    width: 748px;
    height: 178px;
    margin-bottom: 119px;
}

.content-title {
    color: var(--white, #FFF);
    text-align: center;
    font-family: Graphik LCG;
    font-size: 52px;
    font-style: normal;
    font-weight: 600;
    line-height: 64px;
    margin-bottom: 18px;
}

.content-text {
    color: var(--white, #FFF);
    text-align: center;
    font-family: Graphik LCG;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}

.content-btn {
    position: relative;
    display: inline-flex;
    padding: 20px 40px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    border-color: inherit;
    background: var(--light-gray, #ECEFF2);
    box-sizing: border-box;
    border: none;
    cursor: pointer; 
}

h5 {
    color: var(--black, #191C1F);
    text-align: center;
    font-family: Graphik LCG;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
}

.preview-section {
    width: 1216px;
    height: 281px;
    position: relative;
    display: block;
    flex-wrap: wrap;
    justify-content: center;
    left: 352px;
    right: 352px;
    margin-top: 80px;
}

.items {
    display: flex;
    box-sizing: border-box;
}

.item {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    width: 280px;
    height: 164px;
    margin-right: 32px;
}

.item:last-child {
    margin-right: 32px;
}

.main-text {
    margin-bottom: 5px;
}

.text-item {
    color: var(--dark-gray, #5E646A);
    font-family: Graphik LCG;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;;
}

h2 {
    color: var(--black, #191C1F);
    text-align: center;
    font-family: Graphik LCG;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
}

.preview-title {
    margin-bottom: 61px;
}

h6 {
    color: var(--black, #191C1F);
    font-family: Graphik LCG;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
}

.img-item{
    margin-bottom: 16px;
}

.third-section {
    width: 1216px;
    height: 448px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    left: 352px;
    right: 352px;
    margin-top: 150px;
    align-items: center; 
    justify-content: center;
}

.text-wrapper {
    width: 50%;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 18px;
    margin-left: 0;
    padding: 0;
    margin-right: 32px;
    
}

.img-wrapper {
    width: 50%;
    position: relative;
}

.men-img {
    position: absolute;
    width: 592px;
    height: 448px;
    top: 0;
    left: 0;
}

.truck-img {
    width: 592px;
    height: 448px;
    top: 0;
    left: 0;
}

.third-title {
    color: var(--black, #191C1F);
    font-family: Graphik LCG;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px;
}

.third-text {
    color: var(--dark-gray, #5E646A);
    font-family: Graphik LCG;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}


/* .third-section {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    left: 352px;
    right: 352px;
    margin-top: 80px;
}

.third-title {
    color: var(--black, #191C1F);
    font-family: Graphik LCG;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px;
}

.third-wrapper {
    width: 1216px;
    height: 448px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.third-text {
    color: var(--dark-gray, #5E646A);
    font-family: Graphik LCG;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}

.men-img {
    width: 592px;
    height: 448px;
    margin: 0;
    padding: 0;
}

.truck-img {
    width: 592px;
    height: 448px;
    margin: 0;
    padding: 0;
} */